.meanings {
  margin-left: 10px;
  .partOfSpeech {
    margin: 0 10px 10px 0;
    border: 1px dashed black;
    border-radius: 10px;
    padding: 10px;
    .defNumber {
      font-size: 30px;
      font-weight: bold;
    }
    .example {
      font-size: 10px;
    }
    .synonyms {
      .synonym {
        display: inline-block;
        font-size: 10px;
        padding: 2px 10px;
        margin: 0 5px;
        background-color: darken(white, 5%);
        border: 1px dotted darken(white, 18%);
        color: grey;
      }
    }
  }
}
