@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300;400;700;900&display=swap");

$red: #ee6962;
$yellow: #fcca48;
$green: #8ececa;
$purple: #9282f0;

body {
  font-family: "Epilogue", sans-serif;
}
